<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="https://www.trip-arabia.com/public/assets/images/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon-precomposed" href="https://www.trip-arabia.com/public/assets/images/favicons/favicon-32x32.png">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      margin-top: 0px;
    }
    h1 {
      color: #333;
    }
    p {
      font-size: 18px;
      color: #555;
    }
    a {
      font-size: 16px;
      color: #f29200;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    img {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <h1>404</h1>
  <p>Oops! The page you're looking for does not exist.</p>
  <img src="https://res.cloudinary.com/dyv0lsr1o/image/upload/v1737785551/Around_the_world_torjql.gif" style="height: 350px;"     alt="404 Not Found">
  <p><a href="/">Go back to homepage</a></p>
</body>
</html>
