     <footer class="footer-section fix bg-cover" style="background-image: url(asset/img/footer/footer-bg.jpg);">
            <div class="container">
                <div class="footer-widget-wrapper-new">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-8 col-sm-6 wow fadeInUp wow" data-wow-delay=".2s">
                            <div class="single-widget-items text-center">
                                <div class="widget-head">
                                    <a href="/">
                                        <img src="asset/img/logo/png 1.png" alt="img">
                                    </a>
                                </div>
                                <div class="footer-content">
                                    <p>Get Our Latest Deals and Update</p>
                                    <div class="footer-input">
                                        <input type="email" id="email2" placeholder="Your email address">
                                        <button class="newsletter-btn theme-btn" type="submit">
                                            Subscribe <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                        </button>
                                    </div>
                                    <div class="social-icon d-flex align-items-center justify-content-center">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ps-lg-5 wow fadeInUp wow" data-wow-delay=".4s">
                            <div class="single-widget-items">
                                <div class="widget-head">
                                   <h4>Quick Links</h4>
                                </div>
                                <ul class="list-items">
                                    <li>
                                        <a href="/">
                                            Home 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            About Us  
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="tour-details.html">
                                            Services 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tour-details.html">
                                            Tour 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
  <div class="single-widget-items">
    <div class="widget-head">
      <h4>Tours</h4>
    </div>
    <ul class="list-items">
      <li><a href="tour-details.html">Country Egypt</a></li>
      <li><a href="tour-details.html">Comfort Adventure trip in Tunisia</a></li>
      <li><a href="tour-details.html">Odyssey Travel Services</a></li>
      <li><a href="tour-details.html">Family Trip – Albania</a></li>
    </ul>
  </div>
</div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ps-xl-5 wow fadeInUp wow" data-wow-delay=".6s">
                            <div class="single-widget-items">
                                <div class="widget-head">
                                   <h4>Contact Us</h4>
                                </div>
                                <div class="contact-info">
                                    <div class="contact-items">
                                        <div class="icon">
                                            <i class="fa-regular fa-location-dot"></i>
                                        </div>
                                        <div class="content">
                                            <h6>
112 dugdale street, CV11 5QP, Nuneaton<br>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="contact-items">
                                        <div class="icon">
                                         <i class="fa-regular fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                         <h6>
                                             <a href="mailto:firstclasstrails@gmail.com">firstclasstrails@gmail.com</a> 
                                         </h6>
                                      </div>
                                    </div>
                                    <div class="contact-items">
                                       <div class="icon">
                                          <i class="fa-solid fa-phone"></i>
                                       </div>
                                       <div class="content">
                                           <h6>
                                               <a href="tel:+44 7353 475957">+44 7353 475957</a>
                                           </h6>
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-wrapper">
                        <p class="wow fadeInUp" data-wow-delay=".3s">
                            Copyright © <span>B4 Back packers,</span> All Rights Reserved.
                        </p>
                        
                    </div>
                </div>
            </div>
        </footer>