      <!-- Header Section Start -->
        <header class="header-section-10">
            <div class="header-top-section-new">
                <div class="container-fluid">
                    <div class="header-top-wrapper-new">
                        <div class="social-icon d-flex align-items-center">
                            <span>Follow Us</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <ul class="top-right">
                            <li>
                                <i class="fa-regular fa-envelope"></i>
                                <a href="mailto:firstclasstrails@gmail.com">firstclasstrails@gmail.com</a>
                            </li>
                            
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+44 7353 475957">+44 7353 475957</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="header-sticky" class="header-11">
                <div class="container-fluid">
                    <div class="mega-menu-wrapper">
                        <div class="header-main">
                            <div class="logo">
                                <a href="/" class="header-logo">
                                    <img src="asset/img/logo/png 1.png" alt="logo-img">
                                </a>
                                <div class="logo-2">
                                    <a href="/">
                                        <img src="asset/img/logo/png 1.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="header-right d-flex justify-content-end align-items-center">
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        <nav id="mobile-menu">
                                            <ul>
                                                <li class="has-dropdown active menu-thumb">
                                                    <a href="/">
                                                        Home 
                                                    </a>
                                                    
                                                </li>
                                                <li class="has-dropdown active d-xl-none">
                                                    <a href="/" class="border-none">
                                                    Home
                                                    </a>
                                                   
                                                </li>
                                                <li>
                                                    <a href="/aboutus">About Us</a>
                                                </li>
                                               
                                                <li>
                                                    <a>
                                                        Tour
                                                        <i class="fa-solid fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a href="/tours">Our Tour</a></li>
                                                    </ul>
                                                </li>
                                                
                                              
                                                <li>
                                                    <a href="/contact">Contact Us</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <a href="contact.html" class="theme-btn"> Call Now <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                <div class="header__hamburger d-xl-none my-auto">
                                    <div class="sidebar__toggle">
                                        <i class="fas fa-bars"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>